defaults: 
  - default_training_conf.yaml

model: 
  type: "AttentionTCN_GNN"
  kwargs: 
    num_layers: 4
    hidden_channels: 64
    kernel_size: 3
    dropout_p: 0.2
    causal_conv: False 
    output_dist: LogNormal
    learned_adj_emb_size: 10 # Size of the node embeddings used to compute the static learned graph (A_learned)
    gat_heads: 2 # Number of attention heads for the dynamic physical graph (GATv2)

# training:
#   batch_size: 20